* {
  boxing-size: border-box;
} 
 body{
  background: skyblue;
}
.game-container {
  transform: scale(3) translateY(50%);
  margin:0 auto;
  position:relative;
   width:352px;
   height:198px;
   outline:1px solid #fff;
}

.game-container {
  image-rendering:pixelated;
}
.img-header {
  margin: 0 auto;
  height: 200px;
  width: 300px;
}
.img-footer {
  margin: 0 auto;
  height: 50px;
  width: 100px;
}
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;


