* {
  boxing-size: border-box;
} 
 body{
  background: skyblue;
}
.game-container {
  transform: scale(3) translateY(50%);
  margin:0 auto;
  position:relative;
   width:352px;
   height:198px;
   outline:1px solid #fff;
}

.game-container {
  image-rendering:pixelated;
}
