* {
  boxing-size: border-box;
} 
 body{
  background: skyblue;
}
.game-container {
  margin:0 auto;
  margin-top:20px;
  position:relative;
   width:352px;
   height:198px;
   outline:1px solid #fff;
}
